.todo-index {
  width: 30%;
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
}

.todo-single .panel {
  margin-top: 30px;
}

.todo-single .label {
  padding: 10px;
  font-size: 20px;
}

.todo-single .labels-col {
  margin-top: 30px;
}

.todo-single .labels-col .label {
  width: 100%;
  margin-bottom: 20px;
}


.top-notification { margin-bottom: 0; }

.todo-filters {
  margin-top: 10px;
}

.todo-filters .active {
  font-weight: bold;
}

.popular-tag {
  font-size: 15px;
  margin: 10px 2px;
}
